/* @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap'); */
@import "tailwindcss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Quattrocento';
  src: local('Quattrocento'), url('./fonts/Quattrocento-Regular.ttf') format('truetype');
}

/* .quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
} */


body {
  margin: 0;
  font-family: "Quattrocento" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  margin: 16px 8px;
}

header h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  padding: 8px;
  text-align: center;
  font-family: "Quattrocento", serif;
}

header a {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  padding: 8px;
  color: rgb(0, 112, 243);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 16px;
  max-width: 1200px;
  margin-inline: auto;
}
